.containerone{
  background: white;
  margin-top: 30px;
  height: 100vh;
}

.cardsarrange{
    display: flex;
    padding-left: 90px;
    animation: slideIn 1.5s ease-in-out forwards ;
}   
.head{
    font-weight: 400;
font-size: 41px;
line-height: 61px; 
text-align: center;
padding: 20px 0px 10px 0px; 
}

.images img{
    padding: 15px;
}
.cardsarrange p{
    margin-top: -200px;
    margin-left: 35px;
    font-style: normal;
font-weight: bold;
font-size: 25px;    
width: 248px;
color: #FFFFFF;
text-align: center;
justify-content: center;

}

.cardsarrange2 p{
    margin-top: -200px;
    margin-left: 35px;
    font-style: normal;
font-weight: bold;
font-size: 25px;    
width: 241px;
color: #FFFFFF;
text-align: center;
justify-content: center;

}
.cardsarrange2{
    display: flex;
    padding-left: 250px;
    margin-top:60px;
}

.cardsarrange2 img{
    padding:50px;
}
.images img:hover{
    cursor: pointer ;
}

.line1{
    position: absolute;
    width: 115px;
    height: 76px;
    left: 144px;
    top: 991px;
color: #FFFFFF;
}
.line2{
    position: absolute;

left: 391px;
top: 991px;
}


card2 {
    width: 279px;
    height: 216px;
    background:transparent;
}

@media screen and (max-width: 1360px) {
    .head{
        font-size: 0rem;
        line-height: 35px;
        height: auto;
    }
    .containerone h2{
        line-height: 26px;
    }
    .containerone{
        margin-top: 7vh;
        height: 280vh;
    }
    .cardsarrange{
        flex-direction: column;
        padding-left: 5rem;
    }
    .cardsarrange img{
        margin-top: 80px;
    }
    .cardsarrange2 img{
        margin-top: 80px;
    }
    .cardsarrange2{
        flex-direction: column;
        padding-left: 20%;
        padding-left: 5rem;
    }
    .head{
        font-weight: 400;
        font-size: 25px;
        padding: 10px 20px 10px 10px;
    }

    .f1 img{
        margin-top: 0px;
        margin-bottom: 120px;
    }

    .f5 img{
        margin-top: 30px;
    }
    .f2{
        margin-top: 33px;
    }

}

