.navbar1{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  padding-top: 3px;
  background: linear-gradient(72.47deg, #FF8673 0%, rgba(255, 218, 212, 0) 100%);
  z-index: 10;
}

.left{
  width: 30%;
}

.right{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.nav-menu{
  display: flex;
}
.nav-menu li{
list-style: none;
}
.nav-menu{
  padding-top: 10px;
}
.nav-menu li a{
 padding: 20px;
 text-decoration:none;
 color: black;
}
.menu-icon{
  display: none;
  position: absolute;

}


.nav-item:hover {
  border-bottom: 4px solid #EB6B57;
  ;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 1140px) {

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  ul{
    padding-left: 0rem;
  }

  .nav-menu.active {
    background: #f5b090;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    text-decoration:none ;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -18px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
