
.App {
  font-family: 'Poppins', sans-serif;
}

.containerfive{
  display: flex;
  margin: auto;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1140px){
  .containerfive{
    display: flex;
    margin: auto;
    padding-top: 20px;
  }
}